body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000; /* Change the background color to black */
}

canvas {
    border: 1px solid #ccc;
}
